@font-face {
  font-family: 'Scheherazade';
  font-style: normal;
  font-weight: 400;
  src: url('ScheherazadeRegOT.ttf') format('truetype');
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/scheherazade/v2/ScheherazadeRegOT.eot) format('embedded-opentype');
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/scheherazade/v2/ScheherazadeRegOT.eot?#iefix) format('embedded-opentype'),
  url(//themes.googleusercontent.com/static/fonts/earlyaccess/scheherazade/v2/ScheherazadeRegOT.woff2) format('woff2'),
  url(//themes.googleusercontent.com/static/fonts/earlyaccess/scheherazade/v2/ScheherazadeRegOT.woff) format('woff'),
  url(//themes.googleusercontent.com/static/fonts/earlyaccess/scheherazade/v2/ScheherazadeRegOT.ttf) format('truetype');
}

body {font-family: 'Scheherazade';}
p, a {font-family:'Scheherazade';
text-align: justify;
text-decoration: none;
color: black;
  }


.qdoublespaced {
	line-height: 1.95em;
}

.qarabic {
	font-family: 'Scheherazade', serif;
	font-size: 28px;
	direction: rtl;
	padding: 5px;
	text-align: justify;
	word-spacing: 2px;
}

span:hover, a:hover{
  background: yellow;
}

#toTop { position: fixed; bottom: 0px; right: 0px; width: 100%; background-color: #CCC; cursor: pointer; display: none; }
